.container{
	height:100vh;
	/*min-height:100%;*/
}
.btn-primary 
{
    padding: 10px 15px;
    margin: 5px;
    
}
.navbar-brand{
	text-align: center
}

img{
	border: solid black;  
	border-radius: 4px;
	padding: 4px;
	margin:0px 5px 15px 5px;
}

.gifDiv{
	display: inline-block;
}
#ratingsText{
	margin:0px;
	text-align: center
}
